.App{
  height: 100vh;
}
.headerBackground{
  display: flex;
  flex-direction: column;
  height:25%;
  background:  url('./images/background.png') 0% 0% no-repeat padding-box;
}
.midsection{
  display: flex;
  gap:32px;
  flex-flow: wrap;
  border:1px solid #D6D6D6;
  background-color: #FFFFFF;
  width: 80%;
  height:80%;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 0;
}
.searchbar{
  width: 100%;
  display: flex;
}
.logos{
  display: flex;
  gap:30px;
  flex-flow: wrap;
  height:80%;
  overflow: auto;
  padding-left: 60px;
  width: 100%;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D6D6D6;
  border-radius: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 2px  rgba(0,0,0,0.08)
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{  
  font-size:13px !important;
  color:#8A8686 !important
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: 0 !important;
}
.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
  border: 1px solid lightgrey;
  border-right: 0;
  border-radius: 0px !important;
  height: 38px;
}

/* class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-sizeSmall MuiInputBase-adornedEnd MuiAutocomplete-inputRoot css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root" */

